* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  background: url(./images/contact.cover.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: left; */
}
.container h1 {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}
.container p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #666666;
}

/* navigation */

nav ul {
  font-family: "poppins";
  display: flex;
  justify-content: right;
  margin-right: 60px;
}
nav ul li {
  margin-top: 10px;
  padding: 30px;
}
nav ul li a {
  color: white;
  font-size: 14px;
}
nav ul li a:hover {
  color: grey;
}
.active {
  color: #0c71c3;
}
/* section */

section {
  background-color: #F8F0FB;
  margin-top: 50px;
  margin-left: 200px;
  padding: 50px 60px;
  width: 60%;
  height:100%;

  display: grid; 
  margin-bottom:50px ;        
  border-radius: 10px;
}
section:hover{
            box-shadow: 0 0 9px rgba(33,33,33,.2); 
          
         }
section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
}
section p {
  font-size: 15px;
  font-family: "poppins";
  font-weight: 400;
  color: grey;
  padding: 20px;
}
/* footer */

.main-footer {
  height: 50vh;
  background: #222222;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 10px, 10px, 10px 10px;
  font-family: "Open Sans", Arial, sans-serif;
}

.main-footer ul li {
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
}
.main-footer a{
  color: white;
}

.main-footer ul li a:hover {
  color: grey;
}

footer {
  background: #161616;

  color: #666666;

  padding: 14px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;

  line-height: 23.8px;
  font-family: "Open Sans", Arial, sans-serif;
}
